nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.main-navigation {
  padding-top: 1em;
  width: 100%;
  @include center;
  ul {
    margin: 0 auto;
    li{
      display: inline;
      padding: 0 1em;
      @media screen and (max-width: $screen-xs-max) {
        display: block;
      }
      a{
        color: $grey-light; // Change to a variable
        transition: color .2s linear;
        padding: 0 .5em;
        &:hover{
          color: $grey;
        }
      }
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
}
