doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="description", content!=metaContent)
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Voylinux webpage
  body 
    block content
    
    footer(itemscope, itemtype="https://schema.org/WPFooter")
      .container.text-center ¿Quién ha dicho que quiero ser normal?
    script(src="javascripts/bundle.js")
  
